body {
    margin: 0;
    padding: 0;
    /* background-image: url('/imagenes/fondo.webp'); 
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center; */
   
      
}
body::-webkit-scrollbar {
    display: none;
}
/*//////////////////////////Fuentes/////////////////////////////////////////////*/

@font-face {
    font-family: 'Bahnschrift';
    src: url('/fuentes/BAHNSCHRIFT.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'LtCushionmedium';
    src: url('/fuentes/LTCushion-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppinsmedium';
    src: url('/fuentes/Poppins-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/*//////////////////////////////////////////*/
.encabezadoContenedor {
    height: 230px;
    background-color: #7e2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContenedor img {
    width: 130px;
    height: auto; 
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 100px;
}

.tituloSubtituloContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloLayout {
    color: white;
    font-family: 'LtCushionmedium', sans-serif;
    font-size: 50px;
    margin: 0;
    margin-top: 100px;
}

.subtituloLayout {
    color: rgb(219, 214, 214);
    font-family: 'Bahnschrift', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 300;
}




/*//////////navar///////*/
.nav {
    background-color: #c68c3e;
    
}

.nav-container {
    height: 45px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-logo {
    font-family: 'LtCushionmedium', sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.nav-links {
    display: flex;
}

.nav-link {
    font-family: 'LtCushionmedium', sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #333;
}

/*///////////////////////////footer///////////////////////////////*/
.footer {
    background-color: #7e2c2c;
    color: white;
    padding: 5px 0px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-item {
    font-family: 'Poppinsmedium', sans-serif;
    text-align: center;
    margin: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el texto */
    justify-content: center;
}

.footer-item div {
    margin: 4px 0;
}
.footer-item img {
    width: 50px;
    align-self: flex-start; /* Mueve la imagen hacia la derecha */
}