body {
    margin: 0;
    padding: 0;
    /* background-image: url('/imagenes/fondo.webp'); 
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center; */
   
      
}
body::-webkit-scrollbar {
    display: none;
}
/*//////////////////////////Fuentes/////////////////////////////////////////////*/

@font-face {
    font-family: 'Bahnschrift';
    src: url('/fuentes/BAHNSCHRIFT.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'LtCushionmedium';
    src: url('/fuentes/LTCushion-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppinsmedium';
    src: url('/fuentes/Poppins-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/*//////////////////////////////////////////*/
.encabezadoContenedor {
  height: auto;
  background-color: #7e2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  padding: 20px;
  text-align: center;
}

.logoContenedor img {
  width: 130px;
  height: auto;
  margin: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.tituloSubtituloContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 280px;
}

.tituloLayout {
  color: white;
  font-family: 'LtCushionmedium', sans-serif;
  font-size: 60px;
  margin: 0;
  margin-top: 40px;
  text-align: center;
}

.subtituloLayout {
  color: rgb(219, 214, 214);
  font-family: 'Bahnschrift', sans-serif;
  font-size: 40px;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
}


@media (max-width: 768px) {
  .tituloLayout {
    font-size: 30px;
    margin-top: 20px;
  }

  .subtituloLayout {
    font-size: 20px;
  }

  .logoContenedor img {
    width: 80px;
    margin: 10px;
  }

  .encabezadoContenedor {
    flex-direction: column;
    padding: 10px;
  }
}



/*//////////navar///////*/
.nav {
    background-color: #c68c3e;
    
}

.nav-container {
    height: 45px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-logo {
    font-family: 'LtCushionmedium', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.nav-links {
    display: flex;
}

.nav-link {
    font-family: 'LtCushionmedium', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #333;
}

/*///////////////////////////footer///////////////////////////////*/ 
.footer {
    background-color: #7e2c2c; 
    color: white;
    padding: 10px 0;
   font-family: 'Poppinsmedium', sans-serif;
  
}
.footer a{
    background-color: #7e2c2c; 
    color: white;
    padding: 10px 0;
   font-family: 'Poppinsmedium', sans-serif;
  
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-align: center;
    gap: 10px;
}

.footer-item img {
    width: 35px;
    height: auto;
}

.footer-item div {
    margin: 0;
}

