/*//////////////////////////Fuentes/////////////////////////////////////////////*/


@font-face {
    font-family: 'LtCushionmedium';
    src: url('/fuentes/LTCushion-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('/fuentes/Nunito-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
/*//////////////////////////////////////////*/



/******************* Video *******************/
.videoContenedor {
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 45px; 
    
}

.videoContenedor video {
    height: auto;
    width: 100%; 
    object-fit: cover; 
   
}

/******************* Rectángulo rosa detrás *******************/
.rectanguloRosa {
    margin-left: 150px;
    position: absolute; 
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: #fde8e8;
    z-index: -1; 
    border: 1px dashed #7e2c2c; 
}

/******************* Contenedor general *******************/
.ContenedorSeccion {
    
    position: relative; 
    padding: 40px;
    margin: 150px auto 0;

    max-width: 1200px;
    box-sizing: border-box; 
}

/******************* Título *******************/
.tituloOferta {
    font-family: 'LtCushionmedium', sans-serif;
    font-size: 40px;
    color: #3a241b;
    text-align: left;
    margin-top: -90px;
    margin-left: -50px;
    width: 400px;
   text-align:center;

}

/******************* Descripción *******************/
.descripcion {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1d0707;
    text-align: justify;
   

    width: 700px;
    margin-top: -90px;
    margin-left: 500px;
}

/******************* Botones *******************/
.botonesContenedor {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
   
    
}
.fila-botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.boton2 {
    background-color: #7e2c2c;
    color: white;
    border: none;
    width: 216px;
    height: 80px;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'nunito', sans-serif;
}


.boton2:hover {
    background-color: #5c1f1f;
    transform: translateY(-2px);
}



/******************* Contenido dinámico *******************/
@keyframes slideDown {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.contenidoOferta {
    background-color: white;
    border: 1px solid #c68c3e;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: 150px;
    font-family: 'nunito', sans-serif;
    font-size: 16px;
    color: #3a241b;
    text-align: justify;
    display: none; /* Inicialmente oculto */
}

#lineaDivisoria {
    width: 100%;
    height: 1px;
    background-color: #C68c3E;
    margin: 10px 0;
    
}
